%div{:class => "error"}= flash[:ERROR]
%form{:action => "/join", :method => "POST"}
  %label{:for => "conference"} Conference Name
  %input{:type => "text", :value => "#{@conference}", :id => "conference", :name => "conference", :size => 10, :maxlength => 10}
  %label{:for => "phone_number"} Phone Number
  %input{:type => "text", :id => "phone_number", :name => "phone_number", :size => 10, :maxlength => 10}
  %label{:for => "caller_id"} Caller ID
  %input{:type => "text", :id => "caller_id", :value => "0008675309", :name => "phone_number", :size => 10, :maxlength => 10}
  %input{:type => "submit", :value => "Join This Conf!"}
