%form{:action => "/start", :method => "POST"}
  %fieldset
    %label{:for => "phone_number"} Phone Number
    %input#phone_number{:type => "text", :name => "phone_number", :size => 10, :maxlength => 10}
    %label{:for => "caller_id"} Caller ID
    %input#caller_id{:type => "text", :value => "0008675309", :name => "caller_id", :size => 10, :maxlength => 10}
    %input{:type => "submit", :value => "Start Conf!"}
