#forgot
  %form{:method => :post, :name => '/account/forgot'}
    %fieldset
      %legend Forgot password
      %p
        We will send you a link that enables you to log in once without a password.
        Please change your password in your profile as soon as possible after
        clicking that link.
      %p
        Please note that if you have forgotten the password for your OpenID
        account there is nothing we can do, please head over to the site of
        your OpenID provider and try to recover it there.

      = form_text 'E-mail address of your profile', 'email', @email

      %input{:type => :submit, :value => 'Let me log in again', :class => :button}

      .form-advice
        %a{:href => Rs(:new)} Haven't got an account yet?
        %a{:href => Rs(:login)} Just remembered it?
