.auth.openid
  %form{:method => :post, :name => :login, :action => Rs(:openid_begin)}
    %fieldset
      %legend OpenID Login
      %p
        %a{:href => Rs(:login)} Standard login is over here
      %table
        = form_text 'Identity URL', 'url', h(@url)

      %input{:type => :submit, :value => 'Log in', :class => :button}

      .form-advice
        %a{:href => Rs(:new)} Haven't got an account yet?
